body {
  font-family: sans-serif;
}
input {
  border-radius: 10px;
}
input::before {
  border-radius: 10px;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 1%;
  margin-top: 1%;
}
.game {
}
.online {
  color: green;
}
.offline {
  color: red;
}

.streamerInfo {
  margin-top: 2%;
  display: inline-block;
  width: 33.33%;
}

.streamerInfoBody {
  border-radius: 15px;
  margin: auto;
  width: 80%;
  border: 1px solid rgba(3, 4, 129, 0.83);
}
.inputSearch {
  border-radius: 10px;
  width: 30%;
  margin-top: 1%;
}
.twitchName {
  marging-top: 1%;
  font-size: 1.8em;
}

.App {
  padding-top: 2%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
